{{#if phrase}}
  <div class='phrase'>{{phrase}}</div>
  <div class='hint-markers'>{{phraseToUnderscores phrase}}</div>
{{else}}
  <div class='hint'>{{hint}}</div>
{{/if}}

</div>
<h4 class='clearfix border-top'>
  <span class='pull-right'>{{value}} points</span>
</h4>